/* Цвет фона карточек */
.bg-five-star {
    background-color: #c87c24;
    background-image: linear-gradient(136deg, rgba(49, 43, 71, .5294117647058824), transparent)
}

.bg-four-star {
    background-color: #9470bb;
    background-image: linear-gradient(136deg, rgba(49, 43, 71, .5294117647058824), transparent);
}

/* Шрифт */
.app-font {
    font-family: 'Nunito', sans-serif;
}

.app-font-style {
    color: white;
    font-size: xx-large
}
.cards-name {
    padding-inline: 0px;
}
.app-font-wc {
    color: #ffffff;
}

.filter-dialog {
    width: 500px;
}

.bg-chip {
    background: rgba(147, 147, 147, 0.7);
}
.bg-color-dark-gray {
    background: #333333;
}
.closed {
    max-width: 95px;
}
.cards{
    width: 500px;
}
.cards-name {
    word-wrap: normal;
}
.card-hover {
    user-select: none;
    box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.2);
}
@font-face {
    font-family: 'GenshinFont';
    src: local("GenshinFont"), url('./assets/gamedata/font/ja-jp.ttf') format('truetype');
}
.genshin-font {
    font-family: GenshinFont
}
.font-outline {
    text-shadow: 1px 1px 2px #000000;
}
.v-counter {
    color: white;
}
.image-darken {
    filter: brightness(70%);
}
/* Цвета обводок конст персонажей */
.const-circle-hydro {
    color: #56a2ff
}
.const-circle-dendro {
    color: #a5ffab
}
.const-circle-electro {
    color: #ffa1ff
}
.const-circle-pyro {
    color: #f58453
}
.const-circle-anemo {
    color: #71fdec
}
.const-circle-geo {
    color: #ffc64a
}
.const-circle-cryo {
    color: #98efff
}
/* GIGAstyle*/
.locked #blur {
    fill: black;
    opacity: 0.2 !important;
}

.locked #tria1 {
    display: none;
}

.locked #tria2 {
    display: none;
}

.locked #tria3 {
    display: none;
}

.locked #lock {
    display: inline !important;
}

.locked #spikes {
    fill: black;
    opacity: 0.2 !important;
}

.locked #c1 {
    display: none;
}

.locked #c2 {
    fill: currentColor;
    filter: brightness(0.8);
}
.svg-stats {
    width: 14px;
    height: 14px;
    display: flex;
    margin-top: 4px;
}
.btn-scroll {
    display: flex;
    overflow-x: auto;
}

/* Общие стили для скроллбара */
::-webkit-scrollbar {
    width: 5px; /* толщина скроллбара */
    border-radius: 5px; /* радиус границ */
}

/* Индикатор скроллбара (линия, которая перемещается) */
::-webkit-scrollbar-thumb {
    background-color: #8c8c8c; /* цвет индикатора */
    border-radius: 5px; /* радиус границ */
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); /* тень */
}

/* Бар скроллбара (фон) */
::-webkit-scrollbar-track {
    background-color: #f5f5f5; /* цвет бара */
    border-radius: 5px; /* радиус границ */
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1); /* тень */
}

/* Индикатор скроллбара при наведении */
::-webkit-scrollbar-thumb:hover {
    background-color: #555; /* цвет индикатора при наведении */
}

/* Градиент для бара скроллбара */
::-webkit-scrollbar-track {
    background-image: linear-gradient(45deg, #f5f5f5 25%, #e5e5e5 25%, #e5e5e5 50%, #f5f5f5 50%, #f5f5f5 75%, #e5e5e5 75%, #e5e5e5 100%); /* градиент */
}
@media only screen and (max-width: 480px) {
    /* Показывать скролл-бар на устройствах с маленькими экранами */
    ::-webkit-scrollbar {
        width: 10px;
        height: 10px;
        margin-bottom: 10px;
    }
}

@media only screen and (min-width: 768px) {
    /* Скрыть скролл-бар на устройствах с крупными экранами */
    ::-webkit-scrollbar {
        display: none;
    }
}

/* Подсвечивает стат */
.highlight {
    background-color: rgba(206, 206, 206, 0.49);
    border-radius: 5px;
    transition: 0.3s;
}

.flatStat {
    color: rgba(255, 255, 255, 0.58);
}

.menuBtn:hover {
    color: white;
}

/* Подсвечивает картинку оружия */
.weapon-highlight:hover {
    background-color: rgba(206, 206, 206, 0.49);
    border-radius: 5px;
    transition: 0.3s;
}







